/*LEMBRAR DE APAGAR COMENTÁRIOS*/
* { /*Ajusta todos os elementos, zerando a margem, o padding, definindo fontes padrões e o */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /*Define que width e height incluirão conteúdo, padding e border*/
}

body {
    background-color: #080808; /*Cor de fundo*/
    color: #fff; /*Cor do conteúdo*/
}

#header {
    width: 100%; /*largura de 100%, ou seja, ocupará todo o espaço reservado*/
    height: 100vh; /*vh significa viewport height, ou seja, o #header ocupará 100% no espeço da visualização da tela */
    background-image: url(images/background.png); /*Defina imagem de fundo. O método url() referencia uma imagem*/
    background-size: contain; /*Tamanho do background*/
    /*
        background-size:
            contain -> ajusta a imagem para caber toda na viewport;
            cover -> 
    */
    background-position: center;
}

.container {
    padding: 10px 10% 30px 70px;
}

nav {
    display: flex; /* */ 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}